* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans';
  box-sizing: border-box;
}

:root {
  --bg: initial;
  --font: initial;
  --headings: initial;
  --body-padding: 6em;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: var(--bg);
  color: var(--font);
  min-height: 100vh;
  padding: var(--body-padding);
  max-width: 1400px;
}

h1,h2,h3,h4,h5 {
  color: var(--heading);
}

#welcome {
  display: grid;
  height: calc(100vh - 2 * var(--body-padding));
  grid-template-areas:
  ". welcome-img welcome-img"
  "content . .";
  img {
    grid-area: welcome-img;
    animation: breathe 20s infinite;
    width: 100%;
  }
  h2 {
    grid-area: content;
    font-weight: 400;
    line-height: 1.6;
    font-size: 2.5rem;
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  :root {
    --body-padding: 4em;
  }
  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  :root {
    --body-padding: 4em;
  }
  #welcome {
    grid-template-areas:
    "welcome-img"
    "content";
    h2 {
      font-size: 2rem;
    }
  }
}

  
