* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans';
  box-sizing: border-box;
}

:root {
  --bg: initial;
  --font: initial;
  --headings: initial;
  --body-padding: 6em;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: var(--bg);
  color: var(--font);
  min-width: 500px;
  padding: var(--body-padding);
  max-width: 1350px;
}

body>div:not(:nth-of-type(1)):not(:last-of-type) {
  height: 100vh;
  padding: var(--body-padding) 0;
}

h1,h2,h3,h4,h5 {
  color: var(--heading);
}

#welcome {
  display: grid;
  height: calc(100vh - var(--body-padding));
  grid-template-areas:
  ". welcome-img welcome-img"
  "content . .";
  img {
    grid-area: welcome-img;
    animation: breathe 20s infinite;
    width: 100%;
  }
  h2 {
    grid-area: content;
    font-weight: 400;
    line-height: 1.6;
    font-size: 2.5rem;
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#contact {
  height: calc(100vh - var(--body-padding));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  > div {
    margin-right: 2em;
    @media only screen and (max-width: calc(960px + 2em)) {
      margin-right: 0;
    }
  }

  form {
    margin-left: 1rem;
    width: 320px;
    margin: 45px auto;
  }
  
  form hr.sep {
    background: #2196F3;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
  }
  
  form .emoji {
    font-size: 1.2em;
  }
  
  .group {
    position: relative;
    margin: 45px 0;
  }
  
  textarea {
    resize: none;
  }
  
  input,
  textarea {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 320px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
  }
  
  input:focus ~ label, input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #2196F3;
  }
  
  input:focus ~ .bar:before,
  textarea:focus ~ .bar:before {
    width: 320px;
  }
  
  input[type="password"] {
    letter-spacing: 0.3em;
  }
  
  label {
    color: #c6c6c6;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
  }
  
  .bar {
    position: relative;
    display: block;
    width: 320px;
  }
  
  .bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #2196F3;
    transition: 300ms ease all;
    left: 0%;
  }
  
  .btn {
    background: #fff;
    color: #959595;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  .btn:hover {
    color: #8b8b8b;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
  
  .btn.btn-submit {
    background: #2196F3;
    color: #bce0fb;
  }
  
  .btn.btn-submit:hover {
    background: #0d8aee;
    color: #deeffd;
  }
  
  .btn-box {
    text-align: center;
    margin: 50px 0;
  }

  .no-show {
    display: none;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  :root {
    --body-padding: 4em;
  }
  #welcome {
    grid-template-areas:
    "welcome-img"
    "content";
    h2 {
      font-size: 2rem;
    }
  }
}

  




